<a href="https://colab.research.google.com/github/Chashoo414/Data_Analysis_Study/blob/main/Part2_Summary(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 01. 파이썬 기초 프로그래밍**
> 파이썬의 기본적인 문법은 이미 알고 있는 내용이기도 하고,<br>
시중에 정리된 책이나 다양한 강의 자료들이 많기에 간단하게만 살펴보고 넘어가겠다.

## 1-1. Python 기초 문법

### 사칙연산
> - 더하기 `+`, 빼기 `-`, 곱셈 `*`, 나눗셈 `/`

In [ ]:
# 더하기
2 + 5

In [ ]:
# 빼기
7 - 4

In [ ]:
# 곱셈
8 * 2

In [ ]:
# 나눗셈
8 * 3

### 몫과 나머지
> - 몫 `//`, 나머지 `%`

In [ ]:
# 몫 구하기
86 // 3

In [ ]:
# 나머지 구하기
86 % 3

> - 몫과 나머지 한 번에 구하기: `divmod`<br>
    - divmod( ) 함수를 이용하여 몫과 나머지를 한 번에 구할 수 있다.
    - 형식: `divmod(나누어지는 수, 나눌 수)`

In [ ]:
# 몫과 나머지 한 번에 구하기
divmod(86,3)

In [ ]:
# 결과가 튜플로 나오는 것을 활용하여 index를 이용하여 몫이나 나머지를 하나만 구할 수도 있다.
result = divmod(86,3)
result[0]

### 거듭제곱
> - 거듭제곱 `**`

In [ ]:
# 거듭제곱
2 ** 3

### 조건문
> - `if`를 활용한 조건문

In [ ]:
# if 조건문
a = 5
if a > 0 :
    print('a는 양수입니다.')

### 반복문
> - `for`를 활용한 반복문

In [ ]:
# for 반복문
for i in [1,2,3] :
    print(i)

> - `while`을 활용한 반복문

In [ ]:
# while 반복문
a = 0
while a < 5 :
    a += 1    # '+='는 복합대입연산자이다.
    print(a)

### 함수
> - `def`와 `return`을 사용한 함수 선언

In [ ]:
# 함수 선언
def sum(a,b) :
    return a + b

sum(30,4)

***

## 1-2. Python 자료형

### 변수와 자료형
> 파이썬은 변수에 다양한 형태의 자료형을 담아서 사용할 수 있다.

In [ ]:
# 다양한 자료형
a = 1           # 숫자형
b = 'python'    # 문자형
c = [1,2,3]     # 리스트

print(a,b,c,)

In [ ]:
# 변수를 대입할 때 각 변수에 한 번에 값을 대입할 수도 있다.
a, b, c = 1, 'python', [1,2,3]

print(a,b,c)

### 숫자형

> - 정수형 (`int`)

In [ ]:
a = 1
type(a)    # type()함수는 해당 변수의 자료형을 알려준다.

> - 실수형 (`float`)

In [ ]:
# 같은 '1'이라 해도 소수점이 있느냐 없느냐에 따라 자료형이 달라진다.
a = 1.0
type(a)

In [ ]:
a = float(1)    # float() 함수는 입력받은 숫자를 실수형으로 바꿔준다.
print(a)

type(a)

### 문자형

> - 문자열 (`str`)

In [ ]:
# 문자열 변수
b = 'Hello Python'
type(b)

In [ ]:
# 따옴표를 3개 연속 사용하면 한 번에 여러줄의 문자열을 입력할 수 있다.
b = '''Hello everyone,
My name is Mike.
Let's study Python!
'''

type(b)

In [ ]:
# 문자열 생성에서 작은따옴표(')와 큰따옴표(") 둘 다 사용 가능한 이유는
# 문자열 안에 직접 따옴표를 넣을 수 있게 하기 위함이다.
b = "Hello 'Mike'!"
print(b)

> - 문자열 연산<br>
\- 문자열도 연산자를 활용하여 연산이 가능하다

In [ ]:
# 문자열 더하기 - 문자열을 합한다.
a = 'Hello'
b = ' Python'
a + b

In [ ]:
# 문자열 곱하기 - 문자열을 반복한다.
a = 'Hello'
a * 3

> - 문자열 슬라이싱<br>
\- 문자열은 index를 이용하여 슬라이싱 할 수 있다.

In [ ]:
# 문자 하나 슬라이싱
c = 'Hello Python'
c[1]    # Python은 index가 0부터 시작하는 점, 주의하자!

In [ ]:
# 역으로 뒤에서부터 선택할 수도 있다.
c[-1]

In [ ]:
# 구간을 슬라이싱 할 수도 있다.
c[0:4]

In [ ]:
# split() 함수를 이용하여 기준을 정하여 슬라이싱 할 수도 있다.
a = 'Hello My Name Is Mike.'
a.split(' ')

### 논리형 자료형

> - 참/거짓 (`True`/`False`) / 논타입 (`None`)

In [ ]:
a = True
type(a)

In [ ]:
if a :
    print('True')

In [ ]:
if 1 :    # Python에서 '1'은 'True'이다.
    print('True')

In [ ]:
if 0 :    # Python에서 '0'은 'False'이다.
    print('True')

In [ ]:
b = None
type(b)

In [ ]:
if b :
    print('True')

### 리스트형

In [ ]:
a = [1,2,3]
type(a)

In [ ]:
# 리스트도 index로 슬라이싱 할 수 있다.
print(a[0])

print(a[0:2])

In [ ]:
# 리스트 속 매개변수로 리스트를 넣을 수도 있다.
b = [a, 4]
b

In [ ]:
# 중첩리스트의 경우 슬라이싱은 아래와 같이 한다.
b[0][1]    # b[바깥 리스트의 index][내부 리스트의 index]

In [ ]:
# 리스트끼리 더하여 합할 수도 있다.
a = [1,2,3]
b = [4,5,6]
a + b

In [ ]:
# 리스트를 곱하여 내부 값을 늘릴 수도 있다.
a = [1,2,3]
a * 3

In [ ]:
# 리스트 매개변수의 값을 바꿀 수도 있다.
# 바꾸고 싶은 index에 바꾸고자 하는 값을 대입
a = [1,2,3]
a[0] = 4
a

In [ ]:
# append() 함수로 값을 추가할 수 있다.
# 추가된 값은 리스트의 마지막에 추가된다.
a = [1,2,3]
a.append(4)
a

In [ ]:
# remove() 함수로 값을 제거할 수도 있다.
# 제거하고자 하는 값을 괄호에 넣는다.
a.remove(4)
a

In [ ]:
# insert() 함수로 원하는 위치에 값을 넣을 수도 있다.
# insert(원하는 위치의 index, 삽입하고자 하는 값)
a = [1,2,3]
a.insert(1,4)
a

In [ ]:
# sort() 함수로 리스트를 오름차순으로 정렬할 수도 있다.
# 괄호 안에 옵션을 설정함으로써 내림차순으로 설정할 수도 있다.
a.sort()
print(a)

a.sort(reverse = True)    # 각 함수의 옵션은 함수 뒤에 '?'를 입력해 실행해보면 알 수 있다.
print(a)

In [ ]:
# index() 함수로 원하는 값의 index를 알 수도 있다.
a = [1,2,3]
a.index(2)

In [ ]:
# count() 함수로 원하는 값이 몇 개 있는지 알 수 있다.
a = [1,1,2,3]
a.count(1)

In [ ]:
# len() 함수로 리스트의 길이를 알 수 있다.
len(a)

### 튜플형
> 튜플형은 리스트와 비슷하지만, 값을 추가하거나 변경, 삭제가 불가능하다.

In [ ]:
a = (1,2,3)
type(a)

In [ ]:
a.append(4)

In [ ]:
a.remove(3)

In [ ]:
a[0] = 4

### 딕셔너리형
> 딕셔너리형은 키(key)와 값(Value)가 쌍으로 모여 있는 형태의 자료형이다.

In [ ]:
a = {'Mike': 'Male', 'Jully': 'Female'}
type(a)

In [ ]:
# keys() 함수로 딕셔너리의 키를 모아서 출력할 수 있다.
a.keys()

In [ ]:
# 리스트의 index와 유사하게 키(key)를 통해 값을 알 수 있다.
a['Mike']

In [ ]:
# '딕셔너리[새로운 키] = 대입할 값'의 형식으로 값을 추가할 수 있다.
a['Cloud'] = 'Cat'
a

In [ ]:
# clear() 함수는 딕셔너리를 초기화한다.
a.clear()
a

### 집합형
> 집합형은 특정 순서가 없고, 중복이 허용되지 않는 자료형이다.

In [ ]:
a = {1,2,3}
type(a)

In [ ]:
# 중복이 허용되지 않는다.
a = {1,1,2,3}
a

In [ ]:
# 교집합(&)
a = {1,2,3,4}
b = {3,4,5,6}
a & b

In [ ]:
# 합집합(|)
a = {1,2,3,4}
b = {3,4,5,6}
a | b

In [ ]:
# 차집합(-)
a = {1,2,3,4}
b = {3,4,5,6}
a - b

---